/* ====== Color Variables ====== */
/* For Red Backgrounds, Links */
/* For Footer Background */
/* For Header text, bolded text */
/* For body paragraph text */
/* For link buttons with on colored backgrounds */
/* For text with color backgrounds text */
/* ====== Color Styles ======*/
/* === Global Colors ===*/
/* Text Color */
/* line 27, ../scss/color.scss */
h1, h2, h3, h4, h5, h5 {
  color: #666666;
}

/* line 32, ../scss/color.scss */
p {
  color: #777777;
}

/* line 37, ../scss/color.scss */
a {
  color: #ee3c2d;
}

/* line 42, ../scss/color.scss */
a:hover {
  transition: color 0.5s ease;
  color: #777777;
}

/* line 48, ../scss/color.scss */
strong {
  color: #666666;
}

/* Background Color */
/* === Header Specific Colors ===*/
/* Text Color */
/* Background Color */
/* line 61, ../scss/color.scss */
.social-links a {
  color: #ee3c2d;
  opacity: .25;
}
/* line 67, ../scss/color.scss */
.social-links a:hover {
  color: #ee3c2d;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* line 74, ../scss/color.scss */
.client-login a {
  color: #ee3c2d;
}

/* line 80, ../scss/color.scss */
.global-nav a {
  /* border-bottom: .1em solid $red; */
  background: white;
  color: #ee3c2d;
}
/* line 87, ../scss/color.scss */
.global-nav a:hover {
  background: #ee3c2d;
  color: white;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

/* line 106, ../scss/color.scss */
.local-nav ul li ul li a {
  color: #333333;
}
/* line 111, ../scss/color.scss */
.local-nav ul li ul li a:hover {
  transition: color 0.5s ease;
  color: #777777;
}

/* === Body Specific Colors ===*/
/* Text Color */
/* line 127, ../scss/color.scss */
.red h1, .red h2, .red h3, .red h4, .red h5, .red h5, .title-section h1, .title-section h2, .title-section h3, .title-section h4, .title-section h5, .title-section h5 {
  color: white;
}
/* line 132, ../scss/color.scss */
.red a, .title-section a {
  color: #ee3c2d;
}
/* line 137, ../scss/color.scss */
.red a:hover, .title-section a:hover {
  color: #ee3c2d;
}

/* line 147, ../scss/color.scss */
.gray h1, .gray h2, .gray h3, .gray h4, .gray h5, .gray h5 {
  color: white;
}
/* line 152, ../scss/color.scss */
.gray p {
  color: white;
}

/* Background Color */
/* line 160, ../scss/color.scss */
.red {
  background: #ee3c2d;
}
/* line 164, ../scss/color.scss */
.red a {
  background: white;
}
/* line 169, ../scss/color.scss */
.red a:hover {
  transition: background 0.5s ease;
  background: #dddddd;
}

/* line 178, ../scss/color.scss */
.white li {
  color: #777777;
}
/* line 183, ../scss/color.scss */
.white h3 {
  color: #ee3c2d;
}
/* line 188, ../scss/color.scss */
.white .customer-question {
  color: #777777;
}
/* line 195, ../scss/color.scss */
.white .one-third:hover .customer-question {
  transition: color 0.5s ease;
  color: #666666;
}
/* line 202, ../scss/color.scss */
.white .customer-contact-form {
  background: #ee3c2d;
  padding: 1em;
}
/* line 207, ../scss/color.scss */
.white .customer-contact-form h3 {
  color: white;
}
/* line 212, ../scss/color.scss */
.white .customer-contact-form p {
  color: white;
}
/* line 217, ../scss/color.scss */
.white .customer-contact-form span {
  margin: 0 0 0 .5em;
  color: white;
  font-size: 1.25em;
}
/* line 224, ../scss/color.scss */
.white .customer-contact-form input {
  font-size: 1em;
  color: #666666;
}
/* line 230, ../scss/color.scss */
.white .customer-contact-form textarea {
  padding: .5em;
  color: #666666;
  width: 100%;
}
/* line 237, ../scss/color.scss */
.white .customer-contact-form input[value="submit"] {
  border: none;
  font-size: 2em;
  color: #ee3c2d;
  height: 40px;
}

/* line 250, ../scss/color.scss */
.gray {
  background: #666666;
}

/* line 255, ../scss/color.scss */
.darkgray {
  background: #333333;
}

/* line 262, ../scss/color.scss */
.call-to-action h3, .call-to-action p {
  color: white;
}

/* === Footer Specific Colors ===*/
/* Text Color */
/* line 274, ../scss/color.scss */
.darkgray h4 {
  color: #ee3c2d;
}
/* line 279, ../scss/color.scss */
.darkgray a {
  color: #dddddd;
}
/* line 284, ../scss/color.scss */
.darkgray a:hover {
  text-decoration: underline;
}

/* Background Color */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* line 305, ../scss/color.scss */
  .mobile-inactive {
    display: none;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 314, ../scss/color.scss */
  .global-nav a {
    background: #ee3c2d;
    color: white;
  }

  /* line 320, ../scss/color.scss */
  .client-login a {
    background: #dddddd;
    color: #ee3c2d;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 330, ../scss/color.scss */
  .global-nav a {
    background: #ee3c2d;
    color: white;
  }

  /* line 336, ../scss/color.scss */
  .client-login a {
    background: #dddddd;
    color: #ee3c2d;
  }
}
