<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body> 


	
	
	
	

	
	   

	

	

	

<div style="font-family:&#39;Lato&#39;,sans-serif">

<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td valign="top">

		<table align="center">
			<tr>
				<td width="600" height="20"></td>
			</tr>
		</table>

		<table style="background:#ee3c2d" cellpadding="0" cellspacing="0" border="0" align="center">
			<tr>
				<td width="50"></td>
				<td width="400" valign="top"><img height="180" width="180" src="http://www.spring215.com/images/email-header-logo.png"></td>
				<td width="150"></td>
			</tr>
		</table>

		<table align="center">
			<tr>
				<td width="600" height="20"></td>
			</tr>
		</table>

		<table cellpadding="0" cellspacing="0" border="0" align="center">
			<tr>
				<td width="100"></td>
				<td width="500" valign="top">
					<p style="color:#666;font-size:20px;line-height:1.3em">Thank You for selecting SPRING Creative Group for your branding needs. Your account has been created at <a style="color:#ee3c2d" href="http://www.spring215.com" target="_blank">www.spring215.com</a>. You can log into the client section with the following information:
					<hr style="color:#777">
					<p style="color:#666;font-size:18px">Username: <span style="color:#ee3c2d"><?php echo $username; ?></span></p>
					<p style="color:#666;font-size:18px">Password: <span style="color:#ee3c2d"><?php echo $password; ?></span></p>
					<hr style="color:#777">
					<p style="color:#666;font-size:20px;line-height:1.3em">If you have questions about logging into your account, please <a style="color:#ee3c2d" href="mailto:info@spring215.com?subject=Client%20LogIn%20Issue" target="_blank">contact us</a> and a team member will respond within 24 hours.</p>
				</p></td>
				<td width="100"></td>
			</tr>
		</table>

		<table align="center">
			<tr>
				<td width="600" height="20"></td>
			</tr>
		</table>

		<table style="background:#ee3c2d" cellpadding="0" cellspacing="0" border="0" align="center">
			<tr height="140">
				<td align="center" width="600" valign="center"><p style="color:#fff">Spring Creative Group<p>
				<p style="color:#fff">734.372.4048<p>
				<a style="color:#fff" href="mailto:info@spring215.com?subject=Client%20LogIn%20Issue" target="_blank">info2spring215.com</a></p></p></p></p></td>
			</tr>
		</table>
		</td>
	</tr>
</table>  
</div>

</body></html>