/* Client Facing Color Styles */
/* ====== Color Variables ====== */
/* For Red Backgrounds, Links */
/* For Footer Background */
/* For Header text, bolded text */
/* For body paragraph text */
/* For link buttons with on colored backgrounds */
/* For text with color backgrounds text */
/* HEADER COLOR */
/* line 27, ../scss/client-colors.scss */
.top {
  background: #ee3c2d;
  color: white;
}
/* line 32, ../scss/client-colors.scss */
.top a {
  color: white;
}

/* line 43, ../scss/client-colors.scss */
.middle h2 {
  background: #ee3c2d;
  color: white;
}
/* line 50, ../scss/client-colors.scss */
.middle h2 span a {
  background: white;
  color: #ee3c2d;
}
/* line 58, ../scss/client-colors.scss */
.middle .section-body {
  background: #dddddd;
}
/* line 63, ../scss/client-colors.scss */
.middle h3 {
  color: #ee3c2d;
}
/* line 68, ../scss/client-colors.scss */
.middle .form-button {
  background: #ee3c2d;
  color: #fff;
}
/* line 74, ../scss/client-colors.scss */
.middle p {
  color: #777777;
}
/* line 81, ../scss/client-colors.scss */
.middle .help-content h2 {
  color: #666666;
  background: none;
}
/* line 87, ../scss/client-colors.scss */
.middle .help-content p {
  color: #777777;
}
/* line 92, ../scss/client-colors.scss */
.middle .help-content a {
  color: #ee3c2d;
}
/* line 98, ../scss/client-colors.scss */
.middle .profile-section {
  background: #666666;
}
/* line 105, ../scss/client-colors.scss */
.middle .profile-section .input-buttons span {
  color: #777777;
}
/* line 111, ../scss/client-colors.scss */
.middle .profile-section .edit-clients-button {
  color: #ee3c2d;
}
/* line 116, ../scss/client-colors.scss */
.middle .profile-section p {
  color: #dddddd;
}
/* line 121, ../scss/client-colors.scss */
.middle .profile-section h3 {
  color: white;
}
/* line 126, ../scss/client-colors.scss */
.middle .profile-section .profile-section-item {
  background: #dddddd;
}
/* line 130, ../scss/client-colors.scss */
.middle .profile-section .profile-section-item h4 {
  color: #666666;
}
/* line 135, ../scss/client-colors.scss */
.middle .profile-section .profile-section-item a {
  color: #ee3c2d;
}
/* line 140, ../scss/client-colors.scss */
.middle .profile-section .profile-section-item span {
  color: #666666;
}
/* line 145, ../scss/client-colors.scss */
.middle .profile-section .profile-section-item .approved-button {
  color: white;
  background: green;
}
/* line 151, ../scss/client-colors.scss */
.middle .profile-section .profile-section-item .not-approved-button {
  color: white;
  background: #ee3c2d;
}
/* line 157, ../scss/client-colors.scss */
.middle .profile-section .profile-section-item hr {
  color: #dddddd;
}
/* line 168, ../scss/client-colors.scss */
.middle .archived-section .archived-titles ul {
  color: #666666;
}
/* line 174, ../scss/client-colors.scss */
.middle .archived-section a {
  color: #ee3c2d;
}

/* line 181, ../scss/client-colors.scss */
.bottom {
  background: #333333;
}
/* line 186, ../scss/client-colors.scss */
.bottom h4 {
  color: #ee3c2d;
}
/* line 191, ../scss/client-colors.scss */
.bottom a {
  color: #dddddd;
}
/* line 196, ../scss/client-colors.scss */
.bottom a:hover {
  text-decoration: underline;
}

/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 214, ../scss/client-colors.scss */
  body {
    background: #dddddd;
  }

  /* line 221, ../scss/client-colors.scss */
  .middle h2 {
    background: #dddddd;
    color: #666666;
  }
  /* line 228, ../scss/client-colors.scss */
  .middle .profile-section .profile-section-item {
    background: white;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 239, ../scss/client-colors.scss */
  body {
    background: #dddddd;
  }

  /* line 246, ../scss/client-colors.scss */
  .middle h2 {
    background: #dddddd;
    color: #666666;
  }
  /* line 253, ../scss/client-colors.scss */
  .middle .profile-section .profile-section-item {
    background: white;
  }
}
